<!DOCTYPE html>
<html>
<head>
    <title>$title$</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
<header>
&nbsp;
</header>
<nav>
$nav$
</nav>

<section>
$content$
</section>

<footer>
copyright (c) 2019 all rights reserved.
Released under the BSD 2-Clause license
See: http://opensource.org/licenses/BSD-2-Clause
</footer>
</body>
</html>
